*{
  font-family: Helvetica;
}
body{
  background-image:url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

#box-opacity{
  width: 50%;
  margin:auto;
  background-color: rgba(0,0,0,0.5);
  padding:7%;
  border-radius: 5%;
}

.container{
  margin:auto;
  text-align: center;
  margin:0%;
}

header>img{
  width: 25%;
}
h2{
  margin-top: 0%;
  color: #00de02;
  margin-bottom: 0%;
}

nav{
  background-color:#00de02;
  padding:1%;

}
.selector{
  font-size: 10px;
}

main{
  text-align: left;
  color:white;
}
input[type=checkbox]{
  transform: scale(0.8);
}
.interlinea{
  margin-top: 3%;
}
section>span{
  font-size: 18px;
  margin-right: 20%;
}
div>p{
  width: 30%;
  font-size: 11px;
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 0%;
}
.barraArancione{
  width: 210px;
  height: 20px;
  border-radius: 5px;
  background-color: #f6b553;
}
.barraVerde{
  width: 355px;
  height: 20px;
  border-radius: 5px;
  background-color: #00de02;
}
.barraRossa{
  width: 110px;
  height: 20px;
  border-radius: 5px;
  background-color: #bf3f3f;
}
